:root {
  --primary-color: #ffff;
  --primary-text: #a8a8a8;
  --Secondary-text: #000000;
  --btn-color: #3ccc87;
  --btn-hover-color: #30ae72;
  --background: #e5e5e5;
  --required-color: #f52e2e;
}
